
.App {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.search {
  height: stretch;
}

.search-container {
  align-self: center;
}

.search-button {
  margin-left: 1rem;
}

.result-container {
  display: flex;
  margin-top: 1rem;
  align-self: center;
}

.profile-icon-container {
  margin-right: 2rem;
}

.profile-icon {
  width: 128px;
  height: 128px;
}

.league-data-container {
  margin-right: 2rem;
}

span {
  display: block;
}

table {
  margin-top: 1rem;
  border-collapse: collapse;
}

th {
  width: 5rem;
  border: 1px solid black;
}

.summoner-name {
  width: 15rem;
}

td {
  text-align: center;
  border: 1px solid black;
}

tr {
  border: 1px solid black;
}

.summoner {
  background-color: #dddddd;
}

.message-container {
  margin-top: 1rem;
  align-self: center;
}

h1 {
  align-self: center;
}

.hidden {
  display: none;
}

.loader {
  margin-top: 5rem;
  align-self: center;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.error-container {
  margin-top: 1rem;
  align-self: center;
  color: red;
}
